{%- assign filter_tree_vertical_style = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'filterTreeVerticalStyle":"' | last | split: '","' | first | strip -%}
{%- assign enable_filter_sticky_d = shop.metafields.bc-sf-filter.settings | split: 'general":' | last | split: 'stickyFilterOnDesktop":' | last | split: ',' | first | strip -%}
{%- if filter_tree_vertical_style == 'style-off-canvas' or filter_tree_vertical_style == 'style-expand' -%}
{%- assign enable_filter_tree_button_desktop_v = true -%}
{%- else -%}
{%- assign enable_filter_tree_button_desktop_v = false -%}
{%- endif -%}

<div class="search-page collection-template collection-template-default" data-search-page>
  <div class="container">
    <header class="page-header">
      <h2 class="boost-pfs-search-result-header">{% include 'boost-pfs-filter-skeleton', width: 2 %}</h2>
    </header>

    <div class="boost-pfs-search-result-toolbar">
      <div class="boost-pfs-search-result-item">
        <ul class="boost-pfs-search-result-panel-controls">
          <li>{% include 'boost-pfs-filter-skeleton', width: 2 %}</li>
          <li>{% include 'boost-pfs-filter-skeleton', width: 2 %}</li>
          <li>{% include 'boost-pfs-filter-skeleton', width: 1 %}</li>
        </ul>
      </div>
      <div class="boost-pfs-search-result-item">
        <span class="boost-pfs-search-total-result">
          {% include 'boost-pfs-filter-skeleton', width: 2 %}
        </span>
      </div>
    </div>

    <div class="halo-collection-content">
      <div class="row boost-pfs-filter-wrapper boost-pfs-search-panel-product-show boost-pfs-filter-wrapper">
        <div class="col-12 col-md-3 boost-pfs-filter-left-col">
          <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-desktop>
            {%- unless enable_filter_tree_button_desktop_v -%}
              {% render 'boost-pfs-filter-skeleton', type: 'filter-tree' %}
            {%- endunless -%}
          </div>
        </div>

        <div class="col-12 col-md-9 boost-pfs-filter-right-col">
          <div class="toolbar">
            <div class="column-left">
              {%- if enable_filter_tree_button_desktop_v -%}
                <div class="boost-pfs-filter-tree-desktop-button">{%- render 'boost-pfs-filter-skeleton', type: 'button' -%}</div>
              {%- endif -%}

              <div class="boost-pfs-filter-tree-mobile-button">{% render 'boost-pfs-filter-skeleton', type: 'button' %}</div>

              <div class="sidebar-label">
                
                <span class="sidebar_more" {% if settings.enable_multilang %} data-translate="collections.sidebar.sidebar_more" {% endif %}>
                  {{ 'collections.sidebar.sidebar_more' | t }}
                </span>
              </div>
            </div>

            <div class="column-right">
              <div class="boost-pfs-filter-toolbar-item text-right boost-pfs-filter-custom-sorting toolbar-col boost-pfs-filter-top-sorting">{% include 'boost-pfs-filter-skeleton', width: 2 %}</div>
            </div>
          </div>
          <div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-mobile>{% render 'boost-pfs-filter-skeleton', type: 'filter-tree-v'  %}</div>

          <div class="boost-pfs-filter-products product-collection products-grid row">
            {% comment %} Fix Shopify search term report {% endcomment %}
            {% paginate search.results by 2 %}
              {% if search.performed %}
                {% for item in search.results %}
                  <div class="row" style="display: none !important"></div>
                {% endfor %}
              {% endif %}
            {% endpaginate %}
          </div>

          <div class="padding">
            <div class="infinite-scrolling">
              <div class="boost-pfs-filter-load-more"></div>
            </div>
            <div class="toolbar-bottom" id="toolbar-bottom">
              <p class="page-total boost-pfs-filter-total-products"></p>
              <ul class="boost-pfs-filter-pagination-page boost-pfs-filter-bottom-pagination">
                {% render 'pagination-page' paginate: paginate %}
              </ul>
              
            </div>
          </div>
        </div>
      </div>

      <div class="boost-pfs-search-result-wrap boost-hidden padding">
        <div class="boost-pfs-search-result-collections">
          <div class="boost-pfs-search-result-list-item">
            <a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a>
          </div>
          <div class="boost-pfs-search-result-list-item">
            <a href="#">{% include 'boost-pfs-filter-skeleton', width: 3 %}</a>
          </div>
          <div class="boost-pfs-search-result-list-item">
            <a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a>
          </div>
        </div>
        <div class="padding">
          <div class="toolbar-bottom">
            <div class="boost-pfs-search-result-collection-pagination">{% include 'boost-pfs-filter-skeleton', width: 4 %}</div>
          </div>
        </div>
      </div>
      <div class="boost-pfs-search-result-wrap boost-hidden">
        <div class="boost-pfs-search-result-pages">
          <div class="boost-pfs-search-result-list-item">
            <a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a>
          </div>
          <div class="boost-pfs-search-result-list-item">
            <a href="#">{% include 'boost-pfs-filter-skeleton', width: 3 %}</a>
          </div>
          <div class="boost-pfs-search-result-list-item">
            <a href="#">{% include 'boost-pfs-filter-skeleton', width: 4 %}</a>
          </div>
        </div>
        <div class="padding">
          <div class="toolbar-bottom">
            <div class="boost-pfs-search-result-page-pagination">{% include 'boost-pfs-filter-skeleton', width: 4 %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Declare boostPFSThemeConfig variable
  var boostPFSThemeConfig = {
    label: {
      sale: {{ 'products.product.sale' | t | json }},
      sold_out: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      from_price: {{ 'products.product.from' | t | json }},
      select_options: {{ 'products.product.select_options' | t | json }},
      add_to_cart: {{ 'products.product.add_to_cart' | t | json}},
      quick_view: {{ 'products.product.quick_view' | t | json }},
      add_to_wishlist: {{ 'wishlist.general.add_to_wishlist' | t | json }},
      wishlist_note: {{ 'wishlist.general.note' | t | json }},
      view_as: {{ 'collections.toolbar.view_as' | t | json }},
      grid_view: {{ 'collections.general.grid_view' | t | json }},
      list_view: {{ 'collections.general.list_view' | t | json }},
      toolbar_next: {{ 'collections.toolbar.next' | t | json }},
      toolbar_previous: {{ 'collections.toolbar.previous' | t | json }},
      toolbar_showing: {{ 'collections.toolbar.showing' | t | json }},
      toolbar_of: {{ 'collections.toolbar.of' | t | json }},
      size:  {{ 'products.product.size' | t | json }},
    },
    custom: {
      products_per_page: {% if product_per_page %} {{ product_per_page | json }} {% else %} 24 {% endif %},
      products_per_row: {% if section.settings.collection_results_per_row %} {{ section.settings.collection_results_per_row }} {% else %} 4 {% endif %},
      grid_item_width: {% if grid_item_width %} {{ grid_item_width | json}} {% else %} "col-md-3" {% endif %},
      image_size: {% if image_size %} {{ image_size | json }} {% else %} "250x" {% endif %},
      product_image_border: {% if settings.product_image_border %} {{ settings.product_image_border | json }} {% else %} false  {% endif %},
      product_image_crop: {% if settings.product_image_crop %} {{ settings.product_image_crop | json }} {% else %} false {% endif %},
      display_product_reviews: {% if settings.display_product_reviews %} {{ settings.display_product_reviews | json }} {% else %} false {% endif %},
      display_item_swatch: {% if settings.display_item_swatch %} {{ settings.display_item_swatch | json }} {% else %} false {% endif %},
      time_lazy_load: {% if settings.time_lazy_load %} {{ settings.time_lazy_load }} {% else %} 100 {% endif %},
      show_vendor: {% if settings.show_vendor %} {{ settings.show_vendor | json }} {% else %} false {% endif %},
      enable_quick_view: {% if settings.enable_quick_view %} {{ settings.enable_quick_view | json }} {% else %} false {% endif %},
      enable_size_swatch: {% if settings.display_item_size %} {{ settings.display_item_size | json }} {% else %} false {% endif %},
      enable_wishlist: {% if settings.enable_wishlist %} {{ settings.enable_wishlist | json }} {% else %} false {% endif %},
      display_button: {% if settings.display_button %} {{ settings.display_button | json }} {% else %} false {% endif %},
      image_swap: {% if settings.image_swap %} {{settings.image_swap | json }} {% else %} false {% endif %},
      product_image_resize: {% if settings.product_image_resize %} {{ settings.product_image_resize | json }} {% else %} false {% endif %},
      enable_multilang: {% if settings.enable_multilang %} {{ settings.enable_multilang | json }} {% else %} false {% endif %},
      style_product_grid: {% if settings.style_product_grid %} {{ settings.style_product_grid | json }} {% else %} "style_product_grid_1" {% endif %}
    },
    customer: {
      tags: {% if customer.tags%} {{ customer.tags | json }} {% else %} [] {% endif %},
      email: {% if customer.email %} {{ customer.email  | json }} {% else %} '' {% endif %},
    }
  };

  // Declare boostPFSTemplate variable
  var boostPFSTemplate = {
    'gridBorderClass': 'grid-item-border',
    'onSaleClass': 'on-sale',
    'soldOutClass': 'sold-out',

    //Layout
    'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},
    'productGridItem2Html': {% render 'boost-pfs-filter-html', layout: 'productGridItem2Html' %},
    'productListItemHtml': {% render 'boost-pfs-filter-html', layout: 'productListItemHtml' %},
    'quickViewHtml': {% render 'boost-pfs-filter-html', layout: 'quickViewHtml' %},
    'reviewHtml': {% render 'boost-pfs-filter-html', layout: 'reviewHtml' %},
    'wishlistHtml': {% render 'boost-pfs-filter-html', layout: 'wishlistHtml' %},
    'showLimitHtml': {% render 'boost-pfs-filter-html', layout: 'showLimitHtml' %},

    // Pagination Template
    'previousActiveHtml': {% render 'boost-pfs-filter-html', layout: 'previousActiveHtml' %},
    'previousDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' %},
    'nextActiveHtml': {% render 'boost-pfs-filter-html', layout: 'nextActiveHtml' %},
    'nextDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' %},
    'pageItemHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemHtml' %},
    'pageItemSelectedHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' %},
    'pageItemRemainHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' %},
    'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},

    //Sorting
    'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %}
  }
</script>
{% schema %}

  {
    "name": "Main Search",
    "max_blocks": 1,
    "settings": [
      {
        "type": "header",
        "content": "Collection Content"
      },
      {
        "type": "select",
        "id": "search_results_per_row",
        "label": "Products per row (grid only)",
        "default": "3",
        "options": [
          {
            "value": "1",
            "label": "List"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      }
    ],
    "blocks": [
    {
        "type": "sidebar",
        "name": "Sidebar",
        "settings": [
            {
              "type": "checkbox",
              "id": "display_sidebar",
              "label": "Enable Sidebar",
              "default": true
          },
          {
              "type": "select",
              "id": "sidebar_style",
              "label": "Sidebar Style",
              "options": [
                  {
                      "value": "style_1",
                      "label": "Style 1"
                  },
                  {
                      "value": "style_2",
                      "label": "Style 2"
                  }          
              ],
              "default": "style_1",
              "info": "Default: Style 1"
          },
          {
              "type": "select",
              "id": "show_sidebar",
              "label": "Show Sidebar on:",
              "options": [
                  {
                      "value": "left",
                      "label": "Left"
                  },
                  {
                      "value": "right",
                      "label": "Right"
                  }          
              ],
              "default": "left",
              "info": "Default: Left"
          },
          {
              "type": "header",
              "content": "Style settings for filter options"
          },
          {
              "type": "text",
              "id": "style_option_color",
              "label": "Use Swatches for Color",
              "default": "Color",
              "info": "Enter option name to activate Swatches style for Color option"
          },
          {
              "type": "text",
              "id": "style_option_size",
              "label": "Use Swatches for Size",
              "default": "Size",
              "info": "Enter option name to activate Swatches style for Size option"
          },
          {
              "type": "header",
              "content": "Collapse filter at"
          },
          {
              "type": "number",
              "id": "number_collapse",
              "label": "Number",
              "default": 5
          },
          {
              "type": "header",
              "content": "Categories"
          },
          {
              "type": "checkbox",
              "id": "enable_categories",
              "label": "Enable",
              "default": true
          },
          {
              "type": "text",
              "id": "title_categories",
              "label": "Title"
          },
          {
              "type": "radio",
              "id": "style_categories",
              "label": "Show all \/ Only a few categories",
              "options": [
                  {
                      "value": "style_show_all",
                      "label": "Show all"
                  },
                  {
                      "value": "style_main_menu",
                      "label": "Get Categories From Main Menu"
                  },
                  {
                      "value": "style_little",
                      "label": "Only a few categories"
                  }                    
              ]
          },
          {
              "type": "link_list",
              "id": "link_list",
              "label": "Choose a menu",
              "default": "main-menu"
          },
          {
              "type": "header",
              "content": "Filter"
            },
            {
              "type": "checkbox",
              "id": "enable_filter",
              "label": "Enable?",
              "default": false
            },
            
          {
              "type": "header",
              "content": "Product Slider"
          },
          {
              "type": "checkbox",
              "id": "enable_product",
              "label": "Enable",
              "default": true
          },
          {
              "type": "text",
              "id": "title_product",
              "label": "Title"
          },
          {
              "id": "collection",
              "type": "collection",
              "label": "Collection"
          },
          {
              "type": "text",
              "id": "limit",
              "label": "Number of products to show",
              "default": "1"
          },       
          {
              "type": "header",
              "content": "Block Image 1"
          },
          {
              "type": "checkbox",
              "id": "enable_img_1",
              "label": "Enable",
              "default": true
          },
          {
              "type": "image_picker",
              "id": "image_img_1",
              "label": "Image"
          },
          {
              "type": "url",
              "id": "link_img_1",
              "label": "Link Image",
              "info": "Optional"
          },

          {
              "type": "header",
              "content": "Block Image 2"
          },
          {
              "type": "checkbox",
              "id": "enable_img_2",
              "label": "Enable",
              "default": true
          },
          {
              "type": "image_picker",
              "id": "image_img_2",
              "label": "Image"
          },
          {
              "type": "url",
              "id": "link_img_2",
              "label": "Link Image",
              "info": "Optional"
          },
          {
              "type": "header",
              "content": "Custom Block"
          },
          {
              "type": "checkbox",
              "id": "enable_custom_block",
              "label": "Enable",
              "default": true
          },
          {
              "type": "text",
              "id": "title_custom_block",
              "label": "Heading",
              "default": "Custom Block"
          },
          {
              "type": "richtext",
              "id": "quote_custom_block",
              "label": "Text",
              "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          }
        ]
    }
]
  }
{% endschema %}